/* Footer Styles */
.login-footer {
    background-color: #772b2b;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}